.Rproj.user
.Rhistory
.RData
.Backup.mvb
.DS_Store
2013-01-09 15.27.24- normolle whiteboard.jpg
2013-01-09 15.27.30- normolle whiteboard.jpg
Backup of Plan for development of clinical trial simulation platform.docx
CT-design-simulator---normolle,yuanyuan.Rproj
CTDesignExplorerDevel_1.1.tar.gz
CTDesignExplorer_1.0.tar.gz
CTDesignExplorer_1.1.tar.gz
Plan for development of clinical trial simulation platform.docx
Screen Shot 2013-02-17 at 7.53.25 PM.png
Screen Shot 2013-02-17 at 7.53.53 PM.png
SimCTsData_S1.RData
WHATIDID-CT-design-simulator---normolle,yuanyuan.rtf
Yuanyuan Wang
_shiny_buttons copy/
_shiny_docs/
_shiny_instance/
_shiny_with_tabs
image001.png
shinyExample
_shiny_buttons/_shiny_create/radio button in table - doesnt work.R
_shiny_buttons/server_SAVE.R
_shiny_buttons/ui_SAVE.R
CTDE-short-description.pptx
Helton_Trials_Quality_NCI_EVS_2010-10-13.pdf
Re_ server.R ui.R from Yuanyuan.rtf
ScreenShot.docx
jquery - in RStudio shiny, wishing to customize a table - Stack Overflow.html
misc.js
spec object relationships.ezdraw
S3,S4_class_method_inquiry.tex
S3andS4_getting_info-concordance.tex
S3andS4_getting_info.pdf
testing-tables-in-tex.aux
testing-tables-in-tex.log
testing-tables-in-tex.pdf
testing-tables-in-tex.synctex.gz
"From Dror Berel-RE_ \"An R Package for Simulation Experiments Evaluating Clinical Trial Designs\".rtf"
testingSource.R
S3andS4_getting_info.aux
S3andS4_getting_info.bbl
S3andS4_getting_info.blg
S3andS4_getting_info.log
S3andS4_getting_info.tex
CTDesignExplorer.Rcheck
CTDesignExplorer_1.2.0.tar.gz
CTDesignExplorer_1.2.tar.gz
