.Rproj.user
.Rhistory
.RData
.Backup.mvb
.DS_Store
2013-01-09 15.27.24- normolle whiteboard.jpg
2013-01-09 15.27.30- normolle whiteboard.jpg
Backup of Plan for development of clinical trial simulation platform.docx
CT-design-simulator---normolle,yuanyuan.Rproj
CTDesignExplorerDevel_1.1.tar.gz
CTDesignExplorer_1.0.tar.gz
CTDesignExplorer_1.1.tar.gz
Plan for development of clinical trial simulation platform.docx
Screen Shot 2013-02-17 at 7.53.25 PM.png
Screen Shot 2013-02-17 at 7.53.53 PM.png
SimCTsData_S1.RData
Yuanyuan Wang
_shiny_buttons copy/
_shiny_docs/
_shiny_instance/
_shiny_with_tabs
image001.png
shinyExample
_shiny_buttons/_shiny_create/radio button in table - doesnt work.R
_shiny_buttons/server_SAVE.R
_shiny_buttons/ui_SAVE.R
CTDE-short-description.pptx
Helton_Trials_Quality_NCI_EVS_2010-10-13.pdf
Re_ server.R ui.R from Yuanyuan.rtf
ScreenShot.docx
jquery - in RStudio shiny, wishing to customize a table - Stack Overflow.html
misc.js
spec object relationships.ezdraw
S3,S4_class_method_inquiry.tex
S3andS4_getting_info-concordance.tex
S3andS4_getting_info.pdf
testing-tables-in-tex.aux
testing-tables-in-tex.log
testing-tables-in-tex.pdf
testing-tables-in-tex.synctex.gz
"From Dror Berel-RE_ \"An R Package for Simulation Experiments Evaluating Clinical Trial Designs\".rtf"
testingSource.R
S3andS4_getting_info.aux
S3andS4_getting_info.bbl
S3andS4_getting_info.blg
S3andS4_getting_info.log
S3andS4_getting_info.tex
CTDesignExplorer.Rcheck
CTDesignExplorer_1.2.0.tar.gz
CTDesignExplorer_1.2.tar.gz
CTDE-manuscript.aux
CTDE-manuscript.log
CTDE-manuscript.out
CTDE-manuscript.pdf
CTDE-manuscript.pdfsync
CTDE-manuscript.synctex.gz
The shiny INFINITE LOOP problem.rtf
beamer-doc.aux
beamer-doc.log
beamer-doc.nav
beamer-doc.out
beamer-doc.pdf
beamer-doc.snm
beamer-doc.synctex.gz
beamer-doc.synctex.gz(busy)
beamer-doc.tex
beamer-doc.toc
ctde
2013 PHX Academic Bundles.pdf
CTDE-manuscript.toc
CTDesignExplorer_1.3.1.tar.gz
CTDesignExplorer_1.3.2.tar.gz
CTDesignExplorer_1.3.3.tar.gz
CTDesignExplorer_1.3.4.tar.gz
CTDesignExplorer_1.3.tar.gz
CTDesignExplorer.BACKUP
.RData-hideme
CTDesignExplorer_1.3.5.tar.gz
Pharsight Desktop Product Video and Webinar Links - October 2012.pdf
R devel - S4 initialize or  generating function .html
R help - 2 setGeneric's, same name, different method signatures.html
Rplot.pdf
S3andS4_getting_info.out
TestClassUnion
TestClassUnion.Rcheck
TestClassUnion_0.1.0.tar.gz
TestExpPlatform_ActionQ_v8_new.R
[R] S4  Initialization method called during setClass   - Grokbase.html
dumpdata.R
S3andS4_getting_info.synctex.gz
howSmart.1376529560.61636.R
howSmart.1376529916.91635.R
image003.png
image004.jpg
test1.R
xyz.Rdmped
yuanyuan- version differences, error messages.rtf
NOTES conversation with Beah Bell with PharSight 2013-06-17.rtf
CTDesignExplorer_1.3.8.tar.gz
actionQueue.ezdraw
simulationLoop.ezdraw
simulationLoop.pdf
CTDEnetwork.ezdraw
CTDEnetwork.pdf
CTDEnetworkGood.ezdraw
CTDEnetworkGood.pdf
HTML formatting problems and solutions.rtf
VariableGenerator.ezdraw
VariableGenerator.pdf
.dropbox
.gitignore.SAVE
Backup of Plan for development of clinical trial simulation platform v2.docx
Plan for development of clinical trial simulation platform v2.docx
temp
Backup of CTDE-R21-grant.docx
Backup of TASKS in support of CTDE.docx
CTDE-R21-grant.docx
CTDE-manuscript.docx
"Icon\r"
TASKS in support of CTDE.docx
Backup of Replace requirements and provisions.docx
Backup of events-and-user-objects.docx
Backup of fixed-and-user-objects.docx
CT-template.ezdraw
CTDE-process-mockup-alt.bmml
CTDE-process-mockup.bmml
CTDE-process-mockup.png
CTDesignExplorer
ClinicalTrialDesignTemplate.xlsx
R namespace mysteries.rtf
Replace requirements and provisions.docx
actionGenerator.docx
certara.jpg
events-and-user-objects.docx
Backup of CTDE-manuscript.docx
vg-example-and-eval-table.docx
.Rprofile.SAVE
README.html
Announcing Shiny Server Pro general availability   (R news & tutorials).html
Announcing Shiny Server Pro general availability   (R news & tutorials)_files
ctde-old
_SKETCH-interfaces.png
markdown-tests.Rmd
markdown-tests.html
markdown-tests.md
swapmeet
shinyInterface-current-bad
.gitignore
(Roger Day's conflicted copy 2015-03-19).Rhistory
Architecture for community sharing in clinical trial design.docx
CTDesignExperimenter.Rcheck
CTDesignExperimenter_0.902.tar.gz
OBSOLETE-packages
S3andS4_getting_info.synctex.gz(busy)
_shiny_object_relationships.docx
_shiny_object_relationships_message.docx
message-to-jeff-shinyTree.rtf
 (Roger Day's conflicted copy 2015-03-19).Rhistory
