/* ctde theme */
/* icon: url("www/BLOCK.gif") left center no-repeat; */
.treeclass_1 {
  background-color:#d0e4fe;
  color:blue;
  icon:"./BLOCK.gif";
}
.treeclass_2 {
  background-color:#d0e4fe;
  color:orange;
}
.treeclass_3 {
  color:green;
}
