#exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]")  #### What martin uses.


export(
	createCTDEcatalog,
  	patientToString,
	CTresultToString,
    run,
    cq,
    "%&%",
    "%except%",
    as.cat,
    catn,
    clear
)
exportMethods(
    "addAction",
    "allocateTrts",
    "checkRequirements",
    "checkStoppingRule",
    "checkSwitchingStageRule",
    "doExperiment",
    "evalDesign",
    "generateBaseChar",
    "generateBaseChars",
    "generateInitialActions",
    "generateOutcomes",
    "generatePatsBaseChars",
    "generatePatsOutcomes",
    "getOtherArgs",
    "getProvisions",
    "getRequirements",
    "sim1CT" 
)
exportClasses(
    "Action",
     "ActionQueue",
     "APlusBSpecifier",
     "BaseCharModelSpecifier",
     "ConcurrentTrtsData",
     "CRMSpecifier",
     "CTData",
     "DesignSpecifier",
     "DoseThresholdModelSpecifier",
     "EvalNPatsAtEachDoseSpecifier",
     "EvalNToxsAtEachDoseSpecifier",
     "EvalNToxsSpecifier",
     "EvalPctPatsAtEachDoseSpecifier",
     "EvalProbRP2DAtEachDoseSpecifier",
     "EvalProbSuccPhase2Specifier",
     "EvalRP2DSpecifier",
     "EvalSampleSizeSpecifier",
     "EvalSpecifier",
     "EvalToxRateSpecifier",
     "NoParamProbModelSpecifier",
     "NumericLogical",
     "OptionalCharacter",
     "OptionalNumeric",
     "OptionalPopModelSpecifier",
     "OutcomeModelSpecifier",
     "PatData",
     "Phase2BryantDaySpecifier",
     "PopModelSpecifier",
     "Specifier",
     "ToxDeathDoseThresholdModelSpecifier",
     "ToxEfficacyDoseThresholdsModelSpecifier" ,
	"Variable",
	"VariableGenerator",
	"VariableValue"
)
